@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;1,400;1,600&family=Dela+Gothic+One&family=Encode+Sans+SC:wght@200;400&family=M+PLUS+Code+Latin:wght@200;400&family=Oswald:wght@300;400&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");
/* ----- Mixins ----- */
/* ----- Extends ----- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}
* body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
* body header {
  width: 100%;
  height: 150px;
  display: flex;
}
* body header .imgLogo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body header .imgLogo img {
  width: 100px;
  filter: drop-shadow(3px 3px 1px grey);
}
* body header .boxMenu {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
* body header .boxMenu .dates {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
  gap: 20px;
}
* body header .boxMenu .dates #place {
  font-size: 1.2rem;
}
* body header .boxMenu .dates #date {
  font-size: 1rem;
}
* body header .boxMenu .menu {
  width: 75%;
  height: 100%;
}
* body header .boxMenu .menu ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
* body header .boxMenu .menu ul li {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
* body header .boxMenu .menu ul li a {
  text-decoration: none;
  color: black;
}
* body header .boxMenu .menu ul .filterInput {
  display: flex;
  gap: 15px;
}
* body header .boxMenu .menu ul .filterInput input {
  border: none;
  border-radius: 5px;
  background-color: rgba(246, 200, 199, 0.3);
}
* body header .boxMenu .menu ul .filterInput input[type=button] {
  background: none;
  border: none;
  font-size: 1.2rem;
}
* body main {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
* body main .main_container img {
  filter: drop-shadow(1.5px 1.5px 2px black);
}
* body main .main_container h1 {
  color: brown;
  margin: auto;
}
* body main #logoCarrito {
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 15px;
}
* body main #logoCarrito #totalItemsCart {
  padding: 1px;
  width: 35px;
  font-size: 1.3rem;
  position: fixed;
  bottom: 88px;
  right: 85px;
  border: 1px solid Black;
  border-radius: 50%;
  background-color: rgba(0, 151, 178, 0.9);
  text-align: center;
}
* body main #logoCarrito img {
  width: 150px;
}
* body main #logoCarrito :hover {
  cursor: pointer;
}
* body main .img_container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
* body main .img_container #images {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 65px;
  gap: 25px;
}
* body main .img_container #images .cardProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
* body main .img_container #images .cardProduct img {
  aspect-ratio: 4/4;
  margin: auto;
  width: 200px;
}
* body main .img_container #images .cardProduct button {
  font-size: 1.2rem;
  padding: 5px;
}
* body main #main_checkout {
  display: flex;
  flex-direction: column;
}
* body main #main_checkout .product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  text-align: center;
  margin-bottom: 10px;
}
* body main #main_checkout .product .cartText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
* body main #main_checkout .product .cartText p {
  font-size: 1.2rem;
}
* body main #main_checkout .product .cartText .titleValue {
  font-size: 0.9rem;
}
* body main #main_checkout .product img {
  width: 100px;
}
* body main #main_checkout .product .quantityCounter {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
* body main #main_checkout .product .quantityCounter .fa-minus {
  background: none;
  border: none;
}
* body main #main_checkout .product .quantityCounter .fa-plus {
  background: none;
  border: none;
}
* body main #main_checkout .product .quantityCounter .titleValue {
  font-size: 0.9rem;
}
* body main #main_checkout .removeProduct i {
  font-size: 1.3rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 10px black);
}
* body main #infoCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
* body main #infoCart .infoProducts {
  font-size: 1.4rem;
}
* body main #infoCart #buttonCart {
  display: flex;
  gap: 60px;
}
* body main #infoCart #buttonCart a {
  padding: 15px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: aquamarine;
  box-shadow: 1px 1px 8px black;
}
* body footer {
  width: 100%;
  height: 125px;
  display: flex;
}
* body footer .imgFooter {
  width: 45%;
  display: flex;
}
* body footer .imgFooter img {
  width: 250px;
  margin: auto;
  filter: drop-shadow(1.5px 1.5px 2px black);
}
* body footer .socialMedia {
  width: 55%;
  margin: auto;
}
* body footer .socialMedia .mediaList {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
* body footer .socialMedia .mediaList ul {
  display: flex;
  gap: 45px;
  list-style: none;
}
* body footer .socialMedia .mediaList ul li a i {
  color: burlywood;
}

/*# sourceMappingURL=main.css.map */
