@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;1,400;1,600&family=Dela+Gothic+One&family=Encode+Sans+SC:wght@200;400&family=M+PLUS+Code+Latin:wght@200;400&family=Oswald:wght@300;400&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");
/* ----- Mixins ----- */
/* ----- Extends ----- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}
* body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
* body header {
  width: 100%;
  height: 150px;
  display: flex;
}
* body header .imgLogo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body header .imgLogo img {
  width: 100px;
  filter: drop-shadow(3px 3px 1px grey);
}
* body header .boxMenu {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
* body header .boxMenu .dates {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
  gap: 20px;
}
* body header .boxMenu .dates #place {
  font-size: 1.2rem;
}
* body header .boxMenu .dates #date {
  font-size: 1rem;
}
* body header .boxMenu .menu {
  width: 75%;
  height: 100%;
}
* body header .boxMenu .menu ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
* body header .boxMenu .menu ul li {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
* body header .boxMenu .menu ul li a {
  text-decoration: none;
  color: black;
}
* body header .boxMenu .menu ul .filterInput {
  display: flex;
  gap: 15px;
}
* body header .boxMenu .menu ul .filterInput input {
  border: none;
  border-radius: 5px;
  background-color: rgba(246, 200, 199, 0.3);
}
* body header .boxMenu .menu ul .filterInput input[type=button] {
  background: none;
  border: none;
  font-size: 1.2rem;
}
* body main {
  margin: auto;
  display: flex;
}
* body main .main_container img {
  filter: drop-shadow(1.5px 1.5px 2px black);
}
* body main .main_container h1 {
  color: brown;
  margin: auto;
}
* body main .img_container {
  display: flex;
}
* body main .img_container #images {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 65px;
  gap: 25px;
}
* body main .img_container #images img {
  margin: auto;
  width: 200px;
}
* body main .img_container_result {
  display: flex;
  flex-direction: column;
  display: none;
}
* body main .img_container_result #show_products {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 65px;
  gap: 25px;
}
* body main .img_container_result #show_products img {
  margin: auto;
  width: 200px;
}
* body main .img_container_result #show_products .column {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* body main .img_container_result #show_products .column .counter_div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
* body main .img_container_result #show_products .column .counter_div .fa-minus,
* body main .img_container_result #show_products .column .counter_div .fa-plus {
  cursor: pointer;
}
* body main .img_container_result #show_products .column #btn_carrito {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
* body main .img_container_result #show_product {
  display: flex;
  justify-content: center;
  align-items: center;
}
* body main .img_container_result #show_product img {
  width: 300px;
}
* body main .img_container_result #show_product p {
  font-size: 1.2rem;
}
* body footer {
  width: 100%;
  height: 125px;
  display: flex;
}
* body footer .imgFooter {
  width: 45%;
  display: flex;
}
* body footer .imgFooter img {
  width: 250px;
  margin: auto;
  filter: drop-shadow(1.5px 1.5px 2px black);
}
* body footer .socialMedia {
  width: 55%;
  margin: auto;
}
* body footer .socialMedia .mediaList {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
* body footer .socialMedia .mediaList ul {
  display: flex;
  gap: 45px;
  list-style: none;
}
* body footer .socialMedia .mediaList ul li a i {
  color: burlywood;
}

/*# sourceMappingURL=main.css.map */
