@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;1,400;1,600&family=Dela+Gothic+One&family=Encode+Sans+SC:wght@200;400&family=M+PLUS+Code+Latin:wght@200;400&family=Oswald:wght@300;400&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");

@import "./responsividad.scss";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "PT Sans Narrow", sans-serif;

	body {
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100dvh;

		header {
			width: 100%;
			height: auto;
			padding: 30px;
			display: flex;
			flex-direction: column;

			.imgLogo {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 100px;
					filter: drop-shadow(3px 3px 1px grey);
				}
			}

			.boxMenu {
				width: 100%;
				@include flexColumn(flex, column, start, end);

				.dates {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 20px;
					margin-right: 10px;
					gap: 20px;

					#place {
						font-size: 1.2rem;
					}

					#date {
						font-size: 1rem;
					}
				}

				.menu {
					width: 100%;

					ul {
						height: 100%;
						display: flex;
						justify-content: space-evenly;
						align-items: center;
						list-style: none;

						li {
							font-size: 1.2rem;
							display: flex;
							justify-content: space-evenly;
							align-items: center;

							a {
								text-decoration: none;
								color: black;
							}
						}

						.filterInput {
							display: flex;
							gap: 15px;

							input {
								border: none;
								border-radius: 5px;
								background-color: rgba(#f6c8c7, 0.3);
							}

							input[type="button"] {
								background: none;
								border: none;
								font-size: 1.2rem;
							}
						}
					}
				}
			}

			@include TabletLandscape {
				flex-direction: row;
			}

			@include laptop {
				flex-direction: row;
			}

			@include desktop {
				flex-direction: row;
			}
		}

		main {
			width: 100%;
			display: flex;
			padding: 30px;
			justify-content: center;
			flex-direction: column;

			.main_container {
				img {
					filter: drop-shadow(1.5px 1.5px 2px black);
				}

				h1 {
					color: brown;
					margin: auto;
				}
			}

			#logoCarrito {
				display: none;
				border-radius: 50%;
				position: fixed;
				right: 10px;
				bottom: 15px;

				#totalItemsCart {
					padding: 1px;
					width: 35px;
					font-size: 1.3rem;
					position: fixed;
					bottom: 88px;
					right: 85px;
					border: 1px solid Black;
					border-radius: 50%;
					background-color: rgba(#0097b2, 0.9);
					text-align: center;
				}

				img {
					width: 150px;
				}

				:hover {
					cursor: pointer;
				}
			}

			.img_container {
				width: 100%;
				margin: auto;
				display: flex;
				justify-content: center;

				#images {
					width: 100%;
					margin: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					padding: 65px;
					gap: 25px;

					.cardProduct {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 10px;


						img {
							aspect-ratio: 4/4;
							margin: auto;
							width: 200px;
						}

						button {
							font-size: 1.1rem;
							padding: 10px;
							color: black;
							border: none;
							border-radius: 20px;
							background-color: rgba(#0097b2, 0.9);
							box-shadow: 1px 1px 8px black;
						}

						:hover {
							background-color: aliceblue;
							color: black;
						}

					}
				}
			}

			#main_checkout {
				display: flex;
				flex-direction: column;

				.product {
					display: grid;
					grid-template-columns: repeat(6, 1fr);
					place-items: center;
					text-align: center;
					margin-bottom: 10px;

					.cartText {
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						align-items: center;
						gap: 5px;

						p {
							font-size: 1.2rem;
						}

						.titleValue {
							font-size: 0.9rem;
						}
					}

					img {
						width: 100px;
					}

					.quantityCounter {
						width: 65%;
						display: flex;
						justify-content: space-evenly;
						align-items: center;

						.fa-minus {
							background: none;
							border: none;
							cursor: pointer;
						}

						.fa-plus {
							background: none;
							border: none;
							cursor: pointer;
						}

						.titleValue {
							font-size: 0.9rem;
						}
					}
				}

				.TextCartEmpty {
					font-size: 3rem;
					text-align: center;

				}

			}

			#infoCart {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 20px;

				.infoProducts {
					font-size: 1.4rem;
				}

				#buttonCart {
					display: none;

					.menuButtons {
						display: flex;
						gap: 60px;

						a {
							padding: 15px;
							text-decoration: none;
							color: black;
							border-radius: 20px;
							background-color: rgba(#0097b2, 0.9);
							box-shadow: 1px 1px 8px black;
						}
					}
				}
			}
		}

		footer {
			width: 100%;
			height: auto;
			padding: 10px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			background-color: lightblue;

			.imgFooter {
				width: 100%;
				display: flex;

				img {
					width: 250px;
					margin: auto;
					filter: drop-shadow(1.5px 1.5px 2px black);
				}
			}

			.socialMedia {
				width: 100%;
				margin: auto;

				.mediaList {
					display: flex;
					justify-content: space-evenly;
					width: 100%;

					ul {
						width: 75%;
						padding: 10px;
						display: flex;
						justify-content: space-evenly;
						list-style: none;

						li {
							a {
								i {
									margin: auto;
									color: burlywood;
								}
							}
						}
					}
				}
			}

			@include laptop {
				flex-direction: row;
			}
		}
	}
}